/*----------Menu Paciente---------*/
.card{
    margin-top: 0.7%;
    padding: 1%;
}

.borde{

    border-top: 0ch transparent;
    border-right:  0ch transparent;
    border-left:  0ch transparent;
    border-bottom:1px solid rgba(0,0,0,.125)}
